@import url('https://rsms.me/inter/inter.css');

html {
  font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

* {
  margin: 0;
}

p {
  font-size: 1.4rem;
  font-weight: 300;
  color: #4f4f4f;
}

h1 {
  font-size: 3rem;
  font-weight: 500;
  padding-bottom: 0.4rem;
}

h2{
  font-size: 2.0rem;
  font-weight: 400;
}

h5{
  font-weight: 400;
  color: #8f8f8f;
}

.nav {
  padding: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
}

.nav_bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
}

a, a:visited {
  text-decoration: none;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  font-size: 0.6rem;
  transition: color 0.3s;
  color: #4f4f4f;
}

a:hover {
  color: #DfDfDf;
}

.nav_left a {
  padding-right: 0.7rem;
}

.nav_left a {
  padding-right: 0.7rem;
}

.bottom_right {
  transform-origin: top;
  position: absolute;
  right: -56px;
  bottom: 76px;
  transform: rotate(90deg);
  text-align: right;
}

/* MODULE */
.module {
  display: flex;
  align-items: center;
}

.module_heading{
  height: 100vh;
}

.module_contact {
  height: 100vh;
}


/* CONTENT */
.content {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 1000px) {
  .content {
    max-width: 800px;
  }
}

/* COMPONENT */
.component {
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.component_heading {}

.component_heading div {
  flex: 0.8;
}

.component_heading .image {
  flex: 0.2;
}

.component_heading .image img {
  width: 100%;
}

/* SKILLS */
.skill:not(:first-child){
  padding-left: 35px;
}

.skill_type{
  margin-top: 25px;
}

.skill{
  width: 100%;
  margin-top: 10px;
}

.skill_name{
  border-bottom: 1px solid #000;
  width: 100%;
  margin-bottom: 5px;
}

.

/* CONTACT */
.contact_text{
  display: flex;
}
