@import url('https://rsms.me/inter/inter.css');

html {
  font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

* {
  margin: 0;
}

p {
  font-size: 1.4rem;
  font-weight: 300;
  color: #4f4f4f;
  vertical-align: middle;
}

h1 {
  font-size: 3rem;
  font-weight: 500;
  padding-bottom: 0.8rem;
}

.nav {
  padding: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
}

.nav_bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
}

a, a:visited {
  text-decoration: none;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  font-size: 0.7rem;
  transition: color 0.3s;
  color: #4f4f4f;
}

a:hover {
  color: #DfDfDf;
}

.nav_left a {
  padding-right: 0.7rem;
}

.nav_left a {
  padding-right: 0.7rem;
}

.bottom_right {
  transform-origin: top;
  position: absolute;
  right: -56px;
  bottom: 76px;
  transform: rotate(90deg);
  text-align: right;
}

/* CONTENT */
.module{
  display: flex;
  align-items: center;
  height: 100vh;

}

.content{
  max-width: 960px;
  margin: 0 auto;
}

.component {
  display: flex;
  align-items: center;
}



.component_heading{
}


@media (max-width: 960px) {
  .content {
    max-width: 760px;
  }
}

.component_heading .image{
  flex: 0.2;
}

.component_heading div{
  flex: 0.8;
}

.component_heading .image img {
  width: 100%;
}

/* CONTACT */

.component_contact div{
  flex: 1;
}

.module_dark{
  background-color: #171717;
}

.component_contact h1, .component_contact p{
  color: #fff;
}
